*{  
    border-radius: 20px;
    margin-bottom: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    /*text-align: center;*/
    background-color: #a7abff;
    margin: 15px;
    font-size: 20px;
}

section {
    padding: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    border: 5px dashed rgb(0, 0, 0);
}

a{
    color: black;
    text-decoration: none;
}

h1 {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.2);
}

header {
    background-color: rgb(98, 234, 255);
    padding: 20px;
    font-size: 25px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    border: 5px dashed rgb(0, 0, 0);
    text-align: center;
}

nav {
    background-color: rgb(255, 98, 98);
    padding: 10px 0;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    border: 5px dashed rgb(0, 0, 0);
    text-align: center;
}

.contador{
    background-color: rgb(98, 179, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 25px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    border: 5px dashed rgb(0, 0, 0);
    text-align: center;
}

.Navegacion{
    list-style: none;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
}

.opciones{
    display: inline;
    margin: 0 15px;
}

.Navegacion a {
  color: black;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.Navegacion a:hover {
  background-color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.presentacion{
    background-color: rgb(242, 255, 98);
}

.Sobre{
    background-color: rgb(242, 255, 98);
}

.intereses{
    background-color: rgb(98, 255, 106);
    text-align: left;
}

.contenido{
    text-align: left;
    display: flex;
    gap: 40px;
}

.intereses img{
    width: 160px;
    height: 160px;
    border-radius: 5px;
    border: 8px double rgb(0, 0, 0);
    transition: transform 0.3s, border-color 0.3s;
}

.galeria {
    background-color: rgb(255, 98, 156);
}

.images{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.contenido img:hover,
.galeria img:hover,
.galeria video:hover{
  transform: scale(1.1);
  border-color: rgb(255, 255, 255);
}

.galeria img,
.galeria video{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 8px double rgb(0, 0, 0);
    transition: transform 0.3s, border-color 0.3s;
}

footer {
    background-color: rgb(98, 176, 255);
    padding: 20px;
    margin-top: 20px;
    font-size: 14px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    border: 4px dashed rgb(0, 0, 0);
}
