*{  
    border-radius: 20px;
    margin-bottom: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    /*text-align: center;*/
    background-color: rgb(61, 61, 61);
    margin: 15px;
    font-size: 20px;
    color: white;
}

section {
    padding: 20px;
    box-shadow: 6px 8px rgb(0, 0, 0);
    border: 5px dashed rgb(255, 255, 255);
}

h1,
h3{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.4);
}

header {
    background-color: rgb(32, 32, 32);
    padding: 20px;
    font-size: 25px;
    box-shadow: 6px 8px rgb(0, 0, 0);
    border: 5px dashed rgb(255, 255, 255);
    text-align: center;
}

nav {
    background-color: rgb(32, 32, 32);
    padding: 10px 0;
    box-shadow: 6px 8px rgb(0, 0, 0);
    border: 5px dashed rgb(255, 255, 255);
    text-align: center;
}

.contador{
    background-color: rgb(32, 32, 32);
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 25px;
    box-shadow: 6px 8px rgb(0, 0, 0);
    border: 5px dashed rgb(255, 255, 255);
    text-align: center;
}

.Navegacion{
    list-style: none;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
}

.opciones{
    display: inline;
    margin: 0 15px;
}

.Navegacion a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.Navegacion a:hover {
    color: black;
  background-color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.presentacion{
    background-color: rgb(32, 32, 32);
}

.Sobre{
    background-color: rgb(32, 32, 32);
}

.intereses{
    background-color: rgb(32, 32, 32);
    text-align: left;
}

.contenido{
    text-align: left;
    display: flex;
    gap: 40px;
}

.media {
    background-color: rgb(32, 32, 32);
}

.contenido2,
.contenido3{
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contenido2 li,
.contenido3 li{
  text-align: center;
  background-color: rgb(87, 87, 87);
  padding: 20px;
  transition: transform 0.3s, border-color 0.3s;
}

.contenido2 li:hover,
.contenido3 li:hover{
  transform: scale(1.1);
  border-color: rgb(255, 255, 255);
}

.contenido2 ul,
.contenido3 ul{
    border-radius: 10px;
    padding: 40px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.media audio{
    width: 250px;
}

.contenido3 iframe{
    width: 300px;
    height: 170px;
}

.intereses img{
    width: 160px;
    height: 160px;
    border-radius: 5px;
    border: 8px double rgb(0, 0, 0);
    transition: transform 0.3s, border-color 0.3s;
}

.galeria {
    background-color: rgb(32, 32, 32);
}

.images{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.contenido img:hover,
.galeria img:hover,
.galeria video:hover{
  transform: scale(1.1);
  border-color: rgb(255, 255, 255);
}

.galeria img,
.galeria video{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 8px double rgb(0, 0, 0);
    transition: transform 0.3s, border-color 0.3s;
}

footer {
    background-color: rgb(32, 32, 32);
    padding: 20px;
    margin-top: 20px;
    font-size: 14px;
    box-shadow: 6px 8px rgb(0, 0, 0);
    border: 4px dashed rgb(255, 255, 255);
}
